html, body {
        height: 100%;
        margin: 5px;
        padding: 10px;
      }
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
//  div.image{
//    background-image: url('/ndovu.jpg');
//  }