---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=5039463641
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxYmRlMjNjNjljYmM3YmRkN2NjMTNjNjAzZDJmZjljYzo4MDIxMjNhYTQzZmJjMmU1OGM1NGQ1NjZjMDdjMGU2Yg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.108'
      Twilio-Request-Id:
      - RQ06570a5d27d649cba5f0e4a87dc052a3
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 5039463641 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Tue, 04 Apr 2017 11:15:43 GMT
recorded_with: VCR 3.0.3
