// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.glyphicon {
    font-size: 1.5em;
}

// style skill image_tag skills#show
.skill-image{
    width: 3%;
}

// style h4 holding skill image_tag info skills#show
.skillimage{
    padding-left: 40%;
    margin-bottom: 50px;
}

// style div holding proj info skills#show
.projectdiv{
    margin-bottom: 50px;
}