---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC1bde23c69cbc7bdd7cc13c603d2ff9cc/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=%2B1+334-269-8209+
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxYmRlMjNjNjljYmM3YmRkN2NjMTNjNjAzZDJmZjljYzo4MDIxMjNhYTQzZmJjMmU1OGM1NGQ1NjZjMDdjMGU2Yg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.035'
      Twilio-Request-Id:
      - RQ70dcbcee2f2c4fdb9005e2805f6fd659
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Thu, 06 Apr 2017 10:01:51 GMT
recorded_with: VCR 3.0.3
