<%= image_tag "me2.jpg", class: "img_background"%>

<p>Hey, I’m an independent web & software developer from Dublin, Ireland. I work primarily with Ember.js and Django.

Have a look through some of my projects and blog posts. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.

</p>