<h3>Boyd Ndonga</h3>
<Software Developer>

<p>Hey, I’m an independent web & software developer from Dublin, Ireland. I work primarily with Ember.js and Django.

Have a look through some of my projects and blog posts. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.

</p>