<h1>view interesting Posts</h1>

<ul>
    <% @posts.each do |post|%>
        <li><%= post.author %></li>
        <p><%= link_to post.link, post_path(post)%></p>
    <%end%>
</ul>

        <%= link_to "add Post", new_post_path %>
